@font-face {
  font-family: 'SourceSansPro';
  src: url(../fonts/SourceSansPro-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Italic';
  src: url(../fonts/SourceSansPro-Italic.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Light';
  src: url(../fonts/SourceSansPro-Light.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-LightItalic';
  src: url(../fonts/SourceSansPro-LightItalic.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-ExtraLight';
  src: url(../fonts/SourceSansPro-ExtraLight.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-ExtraLightItalic';
  src: url(../fonts/SourceSansPro-ExtraLightItalic.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-SemiBold';
  src: url(../fonts/SourceSansPro-SemiBold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-SemiBoldItalic';
  src: url(../fonts/SourceSansPro-SemiBoldItalic.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url(../fonts/SourceSansPro-Bold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-BoldItalic';
  src: url(../fonts/SourceSansPro-BoldItalic.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
