@charset "UTF-8";

@import 'bootstrap/bootstrap-variables';
@import 'bootstrap/bootstrap';

@import "fonts";
@import "common";

* {
  font-family: SourceSansPro;
}

html,
body {
  color: $black;
  font-size: 16px;
  margin: 0;
}

a {
  color: #000;
  cursor: pointer;
}

p {
  margin: 0;
}

#app {
  margin: auto;
  width: 100%;
}
